<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.airsoft.goodwin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EnterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_enter"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".PrivateOffice.PrivateOfficeActivity"
            android:label="@string/title_activity_private_office"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Duty.DutyActivity"
            android:label="@string/title_activity_duty"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Staff.StaffActivity"
            android:label="@string/title_activity_staff"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Comrades.ComradesActivity"
            android:label="@string/title_activity_comrades"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Linen.LinenActivity"
            android:label="@string/title_activity_linen"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".testing.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Chat.ChatActivity"
            android:label="@string/title_activity_chat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Dialog.DialogUsersActivity"
            android:label="@string/title_activity_dialog_users"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ErrorActivity"
            android:label="@string/title_activity_error"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Inventory.InventoryActivity"
            android:label="@string/title_activity_inventory"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>